
@model IEnumerable<GameStoreDB1.Game>



<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.GameSystem.SystemName)
        </th>
        <th>

        </th>

    </tr>

    @foreach (var item in Model)
    {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.GameSystem.SystemName)
                </td>
                <td>
                    <input name="@item.GameId" type="button" value="Remove From Cart" onclick="RemoveFromCart(this)" />
                </td>

            </tr>
    }
        </table>
