
@model IEnumerable<GameStoreDB1.GameSystem>

@{
    ViewBag.Title = "_FilterSystems";
    var systemArray = ViewData["systemArray"]as int[];
}
<div>
    @foreach (var item in Model)
    {
        if (systemArray != null)
        {
           
            if(systemArray.Contains(item.SystemId))
            {
                
                    <div>
                        <input id="@item.SystemId" value="@item.SystemId" type="checkbox" checked="checked" onclick="SelectSystem(this)" /> @item.SystemName
                    </div>
          
            }
            else
            {
                    <div>
                        <input id="@item.SystemId" value="@item.SystemId" type="checkbox"  onclick="SelectSystem(this)" /> @item.SystemName
                    </div>
            }
            
        }
        else if(systemArray == null)
        {
            <div>
                <input id="@item.SystemId" value="@item.SystemId" type="checkbox"  onclick="SelectSystem(this)" /> @item.SystemName
            </div>
        }
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}