
@{
    ViewBag.Title = "Cart";
}

<div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2 bg-main" style="padding-top:4%; padding-bottom:12%;">
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10">
        @using (Html.BeginForm())
    {
        <h2>Cart</h2>

        <h5>Games</h5>
        <div class="row">
            <div class="col-10-offset-1" id="tblGames">
                @Html.Action("_CartGames")
            </div>
            <h5>Consoles</h5>
            <div class="col-10-offset-1" id="tblConsoles">
                @Html.Action("_CartConsoles")
            </div>
            <h5>Accessories</h5>
            <div class="col-10-offset-1" id="tblAcc">
                @Html.Action("_CartAcc")
            </div>
        </div>
        <input type="button" value="Checkout" data-toggle="modal" data-target="#myModal" />
        <asp:Panel id='myModal' class='modal' runat="server">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='myModalContent'>
                        @Html.Action("_checkout")
                    </div>
                </div>
            </div>

        </asp:Panel>
        <asp:Panel id='feedback' class='modal' runat="server">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='myfeedback'>
                        
                    </div>
                </div>
            </div>

        </asp:Panel>
}
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<script type="text/javascript">
    function RemoveGameFromCart(x) {
        $.ajax({
            type: "POST"
            , url: "RemoveGameFromCart"
            , contentType: 'application/json;'
            , data: JSON.stringify({ id: x.name })
            , success: function (result) {
                $("#tblGames").html(result);
               

            }

        });
        $.ajax({
            //type: "POST"
            url: "_CartSymbol"
            , contentType: 'application/json;'

            , success: function (result) {
                $("#cart").html(result);
            }

        });
    }
    function RemoveAccFromCart(x) {
        $.ajax({
            type: "POST"
            , url: "RemoveAccFromCart"
            , contentType: 'application/json;'
            , data: JSON.stringify({ id: x.name })
            , success: function (result) {
                $("#tblAcc").html(result);
            }

        });
        $.ajax({
            //type: "POST"
             url: "_CartSymbol"
            , contentType: 'application/json;'
         
            , success: function (result) {
                $("#cart").html(result);
            }

        });
    }
    function RemoveConFromCart(x) {
        $.ajax({
            type: "POST"
            , url: "RemoveConFromCart"
            , contentType: 'application/json;'
            , data: JSON.stringify({ id: x.name })
            , success: function (result) {
                $("#tblConsoles").html(result);
               

            }

        });
        $.ajax({
            //type: "POST"
            url: "_CartSymbol"
            , contentType: 'application/json;'

            , success: function (result) {
                $("#cart").html(result);
            }

        });
    }
    function Checkout() {
        $('#myModalContent').append("Sending your request");
                    $.ajax({
                        type: "POST"
                        , url: "Checkout"
                        , contentType: 'application/json;'
                        , data: JSON.stringify({fName: $('#firstName').val(), lName: $('#lastName').val(), email: $('#email').val()})
                        , success: function (result) {
                            $('#myfeedback').html(result);
                            
                            $('#myModal').modal('hide');
                            $('#feedback').modal('show');

                        }

        });
                    
                }
</script>
